@charset "utf-8";
/* CSS Document */


/*------------------------------------*\
    RESET
\*------------------------------------*/
html { height: 100%; }
body {
	min-height: 100%;
	background: white;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
	margin:0; padding:0;
	border:0;
    font-size:0;
    line-height:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

body {
	font-family: "Open sans";
	font-size: 20px;
	color: #efefef;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.fit {
	width: 100%; height: 100%;
	position: absolute;
	top: 0;	left: 0;
}
a {
	display: inline-block;
	color: #efefef;
	text-decoration: none;
	-webkit-transition: color 300ms;
	-moz-transition: color 300ms;
	-ms-transition: color 300ms;
	-o-transition: color 300ms;
	transition: color 300ms;
}
a.active,
a:hover {
	color: #d0db5c;
}
.animate-item {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: -webkit-transform 900ms, opacity 900ms;
	-moz-transition: -moz-transform 900ms, opacity 900ms;
	-ms-transition: -ms-transform 900ms, opacity 900ms;
	-o-transition: -o-transform 900ms, opacity 900ms;
	transition: transform 900ms, opacity 900ms;
}
.animate-in {
	opacity: 0;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	-o-transform: translateY(-100px);
	transform: translateY(-50%);
}
.menu-topo .out {
	opacity: 0;
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	-o-transform: translateY(-20px);
	transform: translateY(-20px);
}
.loader {
	display: inline-block;
	width: 50%; height: 50%;
	position: absolute;
	top: 50%; left: 50%;
}
	.loader .background {
		width: 100%; height: 0;
		position: absolute;
		top: 50%; left: 0;
		background-image: url( ../../media/images/linha-diagonal.png );
		background-position: center;
		background-repeat: no-repeat;
	}
	.loading {
		display: none;
		width: 120px; height: 90px;
		position: absolute;
		top: 50%; left: 50%;
		margin: -45px 0 0 -60px;
	}
.main-container {
	width:100%;
	overflow: hidden;
	position:relative;
	text-align: center;
}
	.overlay {
		content: "";
		width: 100%; height: 100%;
		position: absolute;
		top: 0;	left: 0;
		background: #1e232c;
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
		-ms-transition: opacity 1s;
		-o-transition: opacity 1s;
		transition: opacity 1s;
	}
	.iframe-wrapper {
		display: none;
	}
	.page-container {
		display: inline-block;
		position: relative;
		padding: 40px 0;
		text-align: left;
	}
		.menu {
			margin-left: -5px;
		}
			.menu-item {
				display: inline-block;
				margin: 0 5px;
			}
			.lang-button {
				font-size: 12px;
				font-weight: bold;
			}

		.title {
			text-transform: uppercase;
			font-weight: 300;
			white-space: nowrap;
		}
			.title:before {
				content: "_";
				display: inline-block;
			}
		.subtitle {
			color: #d0db5c;
			text-transform: uppercase;
			font-weight: 700;
		}
			.subtitle span {
				display: block;
				white-space: nowrap;
			}
		.mail-link { color: #d0db5c; }
		.mail-link:hover { color: white; }
			.contact .separador {
				height: 13px;
				border-left: 2px solid #efefef;
			}

@media only screen and (min-width: 1024px) {
	html { min-height: 600px; }
	.page-container { width: 630px;  margin: 0 0 0 240px; }
	.floating .page-container { margin: -380px 0 0 -190px; }
	.menu-topo { margin-bottom: 35px; }
	.logo { margin-left: -180px; margin-bottom: -38px; }
	.title { font-size: 36px; }
	.subtitle {
		font-size: 72px;
		margin: 45px 0 55px;
	}
	.contact .title { margin-bottom: 30px; }
	.contact a,
	.contact p {
		font-size: 16px;
		margin-bottom: 5px;
	}
}
@media only screen and (min-width: 600px) {
	.main-container {
		height:100%;
	}
		.floating .page-container {
			position:absolute;
			top: 50%; left: 50%;
		}
		.overlay {
			opacity: 0.4;
		}
}
@media only screen and (min-width: 600px) and (max-width: 1023px) {
	.page-container { width: 460px; height: 495px; margin: 0 0 0 165px; }
	.floating .page-container { margin: -287px 0 0 -145px; }
	.menu-topo { margin-bottom: 80px; }
	.logo {
		width: 110px; height: auto;
		margin-left: -150px; margin-bottom: -26px;
	}
	.title { font-size: 26px; }
	.subtitle {
		font-size: 50px;
		margin: 30px 0 40px;
	}
	.contact .title { margin-bottom: 25px; }
	.contact a,
	.contact p {
		font-size: 12px;
	}
}
@media only screen and (max-width: 599px) {
	.main-container {
		min-height: 100%;
	}
	.iframe-wrapper {
		background-image: url(../../media/images/background-mob.jpg);
		background-position: center;
		background-size: cover;
	}
	.overlay {
		opacity: 0.8;
	}
	.page-container {
		position: relative;
		padding: 80px 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.menu-topo { margin-bottom: 52px; }
	.logo {
		width: 70px; height: auto;
		margin-bottom: 28px;
	}
	.title { font-size: 17px; }
	.subtitle {
		font-size: 30px;
		margin: 20px 0 60px;
	}
	.contact .title { margin-bottom: 10px; }
	.contact a,
	.contact p {
		font-size: 14px;
		padding: 10px 0;
	}
}

